<h1>Edit Timeline Teste</h1>
<hr>
<h2>General Info:</h2>
<hr>
{{#timelinedata}}
<h4>Name: {{name}}</h4>
{{/timelinedata}}
<br/>
<br/>
<h2>Phases: <input type="button" class="btn btn-primary" value="Add Phase" onclick="location.href='{{addphaseurl}}'"> </h2>
<hr>
