<h1>{{editpagetitle}}</h1>
<hr>
<h2>{{generalinfo}}</h2>
<hr>
{{#timelinedata}}
<h4>Name: {{name}}</h4>
{{/timelinedata}}
<br/>
<br/>
<h2>{{phases}} <input type="button" class="btn btn-primary" value="Add Phase" onclick="location.href='{{addphaseurl}}'"> </h2>
<hr>
