<h1>Edit Timeline Teste</h1>
<hr>
<h2>General Info:</h2>
<hr>
{{#timelinedata}}
<h4>Name: {{name}}</h4>
{{/timelinedata}}
<br/>
<br/>
<h2>Phases:</h2>
<hr>
<h4>Phase Count: {{phasecount}}</h4>
<br/>
<br/>
<input type="button" class="btn btn-primary" value="Add Phase" onclick="location.href='{{addphaseurl}}'">


