<h1>{{title}}</h1>
<hr>
<br/>
<input type="button" class="btn btn-primary" value="Attempt Test" onclick="location.href='{{attempturl}}'">
&nbsp
<input type="button" class="btn btn-primary" value="Grade" onclick="location.href='{{gradingurl}}'">